*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background: #116a9e;
}
.nav-left-left{
    font-size: 0.8rem;
}
.nav{
    width: 45%;
}
a{
    text-decoration: none;
    font-size: 10px;
}
.heading{
    letter-spacing: -2px;
}
.head{
    margin-left: 140px;
}
.subHead{
    background-color: #34495e;
}
.employmentType{
    width: 80%;
    margin: auto;
}
.employmentType {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.employmentTypeDiv {
    width: 20%;
    max-width: 300px;
    margin: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    height: 150px;

}

.employmentTypeDiv:hover {
    background-color: rgba(0, 90, 128, 0.59);
}
.circular-image{
    width: 100px;
    margin-top: 10px;
}
.employmentTypeText{
    font-size: smaller;
}

.about{
    width: 80%;
    margin: auto;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 15px;
    box-shadow: 0 13px 19px -17px rgba(0,0,0,.49);
}
.about1{
    width: 80%;
    margin: auto;
    background-color: #eee;
    margin-top: 20px;
}
.about1 img{
    margin-right: 5px;
}
.secondSub{
    width: 80%;
    margin: auto;
}
.creditCard0{
    width: 230px;
}
.creditCardSection{
    width: 80%;
    margin: auto;
    font-size: small;
}
.creditCard1{
    height: 97px;
    width: 230px;
}
.creditCard3{
    width: 230px;
}
.creditCard2{
    width: 180px;
}
.creditCard2{
    width: 200px;
}
.Highlights{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    line-height: 30px;
}
.creditCardButton{
    width: auto;
    margin: auto;
}
.creditCardButtonSection{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-sec1{
    background: #080808ce;
    height: 10vh;
    width: 100%;
}
.footer-nav{
    background: #080808c4;
}

.footer-nav li{
    font-size: small;
}
.footer-nav ul{
    list-style: none;
    margin-right: 50px;
    margin-top: 10px;
}
.footer-img{
    background: #080808c4;
}
.footer-img-img{
    margin-left: 20vw;
    margin-top: 20px;
}
.footer-sec-2{
    font-size: smaller;
    background: #000;
}
.why-bb-bottom{
    height: 10vh;
    background: #116a9e;
    margin-top: 0;
}